#TabsToolbar {
        visibility: collapse;
        
}

#titlebar {
        visibility: collapse;
        
}

#sidebar-header {
        visibility: collapse !important;
        
}

#fill-login-generated-password, #fill-login-and-generated-password-separator {
        display:none !important;
        
}
